.layout {
  width: 80%;
  margin: auto;
  min-height: 100vh;
  min-width: 380px;
  font-size: 37px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
}

.back {
  position: absolute;
  left: 0;
}

@media only screen and (max-width: 600px) {
  .back {
    top: 0;
    right: 0;
    bottom: 0;
    > * {
      display: none;
    }
  }
}
