.layout {
  width: 80%;
  margin: auto;
  min-height: 100vh;
  font-size: 37px;
}

.header {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
}

.back {
  position: absolute;
  left: 0;
}
